body {
  font-family: "Lexend";
}

h1 {
  font-family: "Lexend Deca", sans-serif;
  font-size: 4.7em;
}

h2 {
  font-family: "Lexend", sans-serif;
  font-weight: bold;
}

h3 {
  font-family: "Lexend";
  font-size: 1.3em;
}
